{% extends 'base.html' %} 
{% block title %} Create Certificate {% endblock %} 
{%block content %}
{% if request.user.is_superuser %}
<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div
            class="card shadow-2-strong card-registration"
            style="border-radius: 15px"
          >
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">
                Edit Profile
              </h3>
  
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
  
                <div class="row">
                  <div class="col-md-6 mb-2">
                      <div class="form-outline">
                        <label class="form-label" for="firstName"
                          >First Name</label
                        >
                      {{form.first_name}} {{form.first_name.errors}}
  
                    </div>
                  </div>
                  <div class="col-md-6 mb-2">
                      <label class="form-label" for="lastName"
                        >Last Name</label
                      >
                    <div class="form-outline">
                      {{form.last_name}} {{form.last_name.errors}}
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-2">
                        <div class="form-outline">
                          <label class="form-label" for="firstName"
                            >Institute Name</label
                          >
                        {{form.institute_name}} {{form.institute_name.errors}}
    
                      </div>
                    </div>
                      <div class="col-md-6 mb-2">
                          <label class="form-label" for="lastName"
                            >Institute Address</label
                          >
                        <div class="form-outline">
                          {{form.institute_address}} {{form.institute_address.errors}}
                        </div>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-2">
                        <label class="form-label" for="lastName"
                          >Avatar</label
                        >
                      <div class="form-outline">
                        {{form.avatar}} {{form.avatar.errors}}
                      </div>
                    </div>
                      <div class="col-md-6 mb-2">
                          <label class="form-label" for="lastName"
                            >Institute Logo</label
                          >
                        <div class="form-outline">
                          {{form.institute_logo}} {{form.institute_logo.errors}}
                        </div>
                      </div>
                </div>
                <div class="mt-4 pt-2">
                    <input
                      class="btn btn-primary btn-lg"
                      type="submit"
                      value="Save"
                      method="post"
                    />
                    <a href="{% url 'landing' %}"
                      ><button class="btn btn-primary btn-lg" type="button">
                        Back
                      </button></a
                    >
                  </div>
            </form>
            </div>
        </div>  
    </div>
</div>
</div>
  </section>
{% else %}
<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div
          class="card shadow-2-strong card-registration"
          style="border-radius: 15px"
        >
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">
              Edit Profile
            </h3>

            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}

              <div class="row">
                <div class="col-md-6 mb-2">
                    <div class="form-outline">
                      <label class="form-label" for="firstName"
                        >First Name</label
                      >
                    {{form.first_name}} {{form.first_name.errors}}

                  </div>
                </div>
                <div class="col-md-6 mb-2">
                    <label class="form-label" for="lastName"
                      >Last Name</label
                    >
                  <div class="form-outline">
                    {{form.last_name}} {{form.last_name.errors}}
                  </div>
                </div>
              </div>
                <div class="row">
                  <div class="col-md-6 mb-2">
                      <label class="form-label" for="lastName"
                        >Avatar</label
                      >
                    <div class="form-outline">
                      {{form.avatar}} {{form.avatar.errors}}
                    </div>
                  </div>
              </div>
              <div class="mt-4 pt-2">
                  <input
                    class="btn btn-primary btn-lg"
                    type="submit"
                    value="Save"
                    method="post"
                  />
                  <a href="{% url 'landing' %}"
                    ><button class="btn btn-primary btn-lg" type="button">
                      Back
                    </button></a
                  >
                </div>
          </form>
          </div>
      </div>  
  </div>
</div>
</div>
</section>
{% endif %}
<script type="text/javascript">
  function validateImageType(){
    var file = document.getElementById("id_institute_logo").value;
    var idxDot = file.lastIndexOf(".") + 1;
    var extension = file.substr(idxDot, file.length).toLowerCase();
    if(!(extension == "png")){
      alert("Only png files are allowed!");
      location.reload();
    }
  }
</script>
{% endblock %}