{% extends 'base.html' %}
{% block title %} Generate Certificate {% endblock %}
{% block content %}
<!-- <div class="d-grid gap-2 col-4 mx-auto">
    <div class="col align-items-center " style="min-height: 100vh;">
        
    </div>
</div> -->
<div class="border d-flex align-items-center justify-content-center gap-2" style="height: 250px;">
    <a href="{% url 'create' %}"><button class="btn btn-primary">Create Certificate</button></a>
    <a href="{% url 'search' %}"><button class="btn btn-primary">Search Certificate</button></a>
  </div>
{% endblock %}