{% extends 'base.html' %} {% block title %} Generate Certificate {% endblock %}
{% block content %}
<div class="px-4 py-5 my-5 text-center">
  {% if request.user.avatar %}
  <img src="/media/{{request.user.avatar}}" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
  {% endif %}
  <h2 class="display-5 fw-bold">Hi, {{request.user.username | capfirst}}!</h2>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Welcome to Character Certificate Management System</p>
    <div class="d-grid gap-5 d-sm-flex justify-content-sm-center">
      <a href="{% url 'create' %}"
        ><button class="btn btn-primary btn-lg px-4 me-sm-3 mb-4 mr-3">
          Create Certificate
        </button></a
      >
      <a href="{% url 'search' %}"
        ><button class="btn btn-outline-secondary btn-lg px-4 mr-3">
          Search Certificate
        </button></a
      >
    </div>
  </div>
  {% if certificates %}
  <hr>
<div class="text-center">
  <h3>List of Certificates</h3>
  </div>
<div class="row justify-content-center">
  <div class="col-auto">
    <table class="table table-responsive">
      <thead>
        <tr>
            <th>Registration Number</th>
            <th>Student's Name</th>
            <th>Certificate</th>
        </tr>
    </thead>
    <tbody>
      {% for certificate in certificates %}
      <tr>
      <td>{{certificate.registration_number}}</td>
      <td>{{certificate.student_name}}</td>
      <td><a download="{{certificate.certificate}}" href="/media/{{certificate.certificate}}">Download</a>
        <a target="_blank" href="/media/{{certificate.certificate}}">Show</a>
      </td>
    </tr>
      {% endfor %}
    </tbody>
    </table>
    {% endif %}
    {% if certificates.has_other_pages %}
    <div class="btn-group" role="group" aria-label="Item pagination">
        {% if certificates.has_previous %}
            <a href="?page={{ certificates.previous_page_number }}" class="btn btn-outline-primary">&laquo;</a>
        {% endif %}

        {% for page_number in certificates.paginator.page_range %}
            {% if certificates.number == page_number %}
                <button class="btn btn-outline-primary active">
                    <span>{{ page_number }} <span class="sr-only">(current)</span></span>
                </button>
            {% else %}
                <a href="?page={{ page_number }}" class="btn btn-outline-primary">
                    {{ page_number }}
                </a>
            {% endif %}
        {% endfor %}

        {% if certificates.has_next %}
            <a href="?page={{ certificates.next_page_number }}" class="btn btn-outline-primary">&raquo;</a>
        {% endif %}
    </div>
    {% endif %}
</div>
</script>
{% if 'login' not in request.path%}
<footer
  class="text-center text-lg-start bg-light text-muted mt-auto fixed-bottom"
>
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
    Developed with ❤️ by © BNS
  </div>
</footer>
{% endif %} {% endblock %}
